#wall.tag-1{
    display:none;
    max-width:80%;
    height:100px;
    vertical-align: 20%;
    border:20px;
}
#wall.tag-2{
    display:none;
    max-width:80%;
    height:100px;
    vertical-align: 20%;
    border:20px;
}
#wall.tag-3{
    display:none;
    max-width:80%;
    height:100px;
    vertical-align: 20%;
    border:20px;
}